{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>Edit Product - Ballin</title>
    {% include 'navbar.html' %}
    <div class="container form-style" style="padding-top: 125px">
        <a href="{% url 'main:show_product' product.id %}"
           class="btn btn-light mb-3">← Go Back</a>
        <div class="container-fluid text-center px-0">
            <h1 class="mb-5">Edit Product</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <div id="{{ field.id_for_label }}Help" class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                        {% for error in field.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary mb-5">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
