{% extends 'base.html' %}
{% load static %}
<div class="container">
    {% block meta %}
        <title>Login</title>
    {% endblock meta %}
    {% block content %}
        <div class="text-center border border-2 border-secondary-subtle rounded p-5 mt-5"
             style="max-width: 400px;
                    margin: auto;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)">
            <div class="login">
                <img src="{% static 'images/logo.png' %}"
                     alt="Ballin Logo"
                     style="width: 100%;
                            height: auto;
                            object-fit: contain;
                            margin: 1rem auto" />
                <h1 class = "mb-3">Login</h1>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" style="display:block; text-align:center;" class="mb-1">Username</label>
                        <input type="text"
                               id="username"
                               name="username"
                               required
                               class="mb-3 border border-secondary-subtle rounded"
                               placeholder="Enter your username"
                               style="text-align: center">
                    </div>
                    <div class="form-group">
                        <label for="password" style="display:block; text-align:center;" class="mb-1">Password</label>
                        <input type="password"
                               id="password"
                               name="password"
                               required
                               class="mb-3 border border-secondary-subtle rounded"
                               placeholder="Enter your password"
                               style="text-align: center">
                    </div>
                    <div>
                        <input class="btn login_btn btn-primary" type="submit" value="Login">
                    </div>
                </form>
                <div class="mt-3">Don't have an account yet?</div>
                <a href="{% url 'main:register' %}">Register Now</a>
                <div class="mt-3">
                    {% if messages %}
                        <div class="mt-6">
                            {% for message in messages %}<div class="message">{{ message }}</div>{% endfor %}
                        </div>
                    {% endif %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}<div class="message">{{ error }}</div>{% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock content %}
