{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>Welcome to Ballin!</title>
    {% include 'navbar.html' %}
    {% include 'delete_modal.html' %}
    {% include 'add_product_modal.html' %}
    {% include 'edit_product_modal.html' %}
    <!-- Header Section -->
    <header class="container-fluid header"
            style="background-image: url('{% static 'images/welcome-bg.png' %}');
                   background-size: cover;
                   background-position: center;
                   width: 100%;
                   padding-top: 125px;
                   min-height: 400px;
                   position: relative">
        <!-- Refresh Button -->
        <button id="refresh-button"
                class="btn btn-outline-light"
                style="position: absolute;
                       top: 95px;
                       left: 20px;
                       opacity: 0.9"
                onclick="fetchProducts()">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-arrow-counterclockwise"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
            </svg>
            Refresh
        </button>
        <div class="text-center"
             style="font-size: 2rem;
                    color: #ffffff;
                    margin-top: 20px">Welcome to</div>
        <div class="text-center"
             style="font-size: 4rem;
                    color: #ffffff;
                    font-weight: 600;
                    margin-bottom: 50px">Ballin Football Shop</div>
        <!-- Add Product Modal Trigger -->
        <div class="text-center"
             style="font-size: 1.25rem;
                    cursor: pointer;
                    color: #ffffff;
                    font-weight: 500;
                    margin-bottom: 50px"
             data-bs-toggle="modal"
             data-bs-target="#addProductModal">Add New Product</div>
    </header>
    <!-- Filter Buttons -->
    <div class="flex flex-column align-items-center">
        <div class="text-center" style="margin-top: 20px;">
            <a id="filter-all" class="btn btn-primary">All Products</a>
            <a id="filter-mine" class="btn btn-primary-subtle">My Products</a>
        </div>
    </div>
    <!-- Loading State -->
    <div id="loading"
         class="text-center d-none"
         style="margin-top: 200px;
                min-height: 250px">
        <div class="spinner-border text-primary" role="status"></div>
        <div style="margin-top: 10px; font-size: 1.5rem;">Loading products...</div>
    </div>
    <!-- Error State -->
    <div id="error" class="d-none text-center" style="margin-top: 50px;">
        <img src="{% static 'images/error.png' %}"
             alt="Error loading products"
             style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 20%;
                    height: auto;
                    object-fit: contain" />
        <div class="text-center" style="margin-top: 10px; font-size: 1.5rem;">
            Error loading products. Please try again later.
        </div>
    </div>
    <!-- Products Section -->
    <div id="products-container" class="d-none"></div>
    <!-- Empty State -->
    <div id="empty" class="d-none text-center" style="margin-top: 50px;">
        <img src="{% static 'images/nothing.png' %}"
             alt="No products available"
             style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 20%;
                    height: auto;
                    object-fit: contain" />
        <div class="text-center"
             style="font-size: 2rem;
                    margin-top: 20px;
                    margin-bottom: 50px">Nothing to display here... yet</div>
    </div>
    <!-- Footer Section -->
    <footer class="container-fluid bg-primary footer"
            style="left: 0;
                   bottom: 0;
                   width: 100%;
                   min-height: 80px;
                   text-align: center">
        <div class="text-center"
             style="font-size: 1.10rem;
                    color: #ffffff;
                    margin-top: 50px;
                    padding-top: 25px;
                    padding-bottom: 25px">Created by {{ name }} - {{ npm }} as a project of class {{ class }}</div>
    </footer>
    <!-- JavaScript Section -->
    <script>const NO_IMAGE_URL = "{% static 'images/noimage.png' %}";</script>
    <script id="main-script"
            src="{% static 'js/main.js' %}"
            data-products-endpoint="{% url 'main:show_json' %}"
            data-current-user-id="{{ user.id | default_if_none:'' }}"
            data-product-detail-url-template="{% url 'main:show_product' '00000000-0000-0000-0000-000000000000' %}"
            data-edit-product-url-template="{% url 'main:edit_product_ajax' '00000000-0000-0000-0000-000000000000' %}"
            data-delete-product-url-template="{% url 'main:delete_product' '00000000-0000-0000-0000-000000000000' %}"></script>
{% endblock content %}
